body {
  font-family: Roboto, sans-serif !important
}

.editInput {
  width: 100% !important;
}

.drawerStyle{
  display: block;
}

.showbook{
  margin-left: 26%;
}

.bookbox{
    margin : 5px;
    padding : 5px;
    width : auto;
    text-align : center;
    height : 200px;
    border : 1px solid #f1f1f1;
    border-radius : 5px;
}

@media(max-width : 777px) {
  .drawerStyle{
    display: none;
  }
  .showbook{
    margin:auto;
  }
}

.splash {
  background-image: url('https://images.unsplash.com/photo-1474932430478-367dbb6832c1');
  background-size: cover;
  height: 100vh;
  justify-content: center;
  text-align: center;
  padding-top: 35vh;
}


.splashTitle {
  font-size: 100px;
  color: #01579B;
  font-family: 'Pattaya', sans-serif;
  text-shadow: 2px 2px #FDD835;
}
